@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* GlOBAL */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    font-size: 10px;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 2.4rem;
    margin: 0;
    padding: 0;
}

/* CONTAINER */
.container{
    max-width: 125rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12.5rem;
    padding-right: 12.5rem;
}

/* MAIN CONTENT */
.main-content{
    flex-grow: 1;
}


.header-top {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 8rem;
}

.header-top-action {
    display: flex;
    align-items: center;
}

.site-navbar {
    margin-right: 4rem;
}

.navbar-list {
    display: flex;
    list-style: none;
}

.navbar-item:not(:last-child) {
    margin-right: 3rem;
}

.item-navbar-link {
    font-size: 1.5rem;
    line-height: 2.25rem;
    color:#333333;
    text-decoration: none;
    transition: 0.3s;
}

.item-navbar-link:hover{
    color: #EA625C;
}

.input{
    border: none;
    border-bottom:0.1rem solid #333333;
    color: #666666;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
    outline: none;
    padding: 0.6rem;
}

.about-border {
    border-bottom: 0.1rem solid #ddd;
    margin-bottom: 6.8rem;
    background: url(../images/intro-bg.png);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right calc(50% - 54.5rem)  bottom;
}

.hero-action {
    width: 49rem;
    padding-top: 7.9rem;
    padding-bottom: 18.5rem;
}

.hero-action-title {
    font-weight: 700;
    font-size: 5rem;
    line-height: 6rem;
    color: #000;
    margin: 0;
    margin-bottom: 3rem;
}

.hero-action-text {
    display: flex;
    margin: 0;
    margin-bottom: 4.2rem;
    color:#777777;
    max-width: 49rem;
    width: 100%;
    height: 12rem;
}

.hero-action-text::before{
    content: '';
    display: inline-block;
    height: 12rem;
    width: 1rem;
    background-color: #888888   ;
    margin-right: 4rem;

}

.main-button {
    background-color: #C9514C;
    padding:1.2rem 3.85rem;
    color: #fff;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 0;
    border: 1px solid #C9514C;
    transition: 0.3s;
}

.main-button:hover{
    background-color: #fff;
    color:#C9514C;
}

.hero-img {
    display: flex;
    margin-right: -37rem;
}

.features {
    margin-bottom: 16.8rem;
}


.features-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.features-item {
    width: 28rem;
}

.features-item:not(:last-child){
    margin-right: 8rem;
}

.features-title {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #222;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 3rem;
}

.features-text {
    font-size: 1.5rem;
    color: #333333;
}


.features-item-button {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.56rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #EA625C;
    margin-top: 2rem;
}

.features-item-button::before{
    content: '';
    display: inline-block;
    background-color: #EA625C;
    width: 4rem;
    height: 0.3rem;
    margin-right: 1rem;
}

.sale-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.sale-action-title {
    font-weight: 700;
    font-size: 5rem;
    line-height: 6rem;
    margin-top: 0;
    margin-bottom: 3rem;
}

.sale-action-text {
    display: flex;
    color: #777;
    margin-top: 0;
    margin-bottom: 3rem;
}

.sale-action-text::before{
    content: '';
    display: inline-block;
    background-color: #888;
    height: 9.6rem;
    width: 1rem;
    margin-right: 4rem;
}

.sale-button{
    padding: 1.2rem 9rem;
}

.sale-img {
    margin-top: 0;
    margin-bottom: 7rem;
}

.control {
    display: flex;
    align-items: center;
    background: url('../images/runners.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 83.019rem;
    margin-right: auto;
    margin-left: auto;
}

.control-action {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.control-title {
    font-weight: 700;
    font-size: 5rem;
    line-height: 6rem;
    color: #fff;
    margin: 0;
    margin-bottom: 3rem;
}

.control-text {
    max-width: 45rem;
    display: flex;
    font-weight: 400;
    margin: 0;
    color: #fff;
    margin-bottom: 3rem;
    line-height: 2.4rem;
}

.control-text::before{
    content: '';
    display: inline-block;
    height: 12rem;
    width: 1rem;
    background-color: #fff;
    margin-right: 4rem;
}


@media (max-width:960px) {

    .container{
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .header-top img{
        margin-bottom: 2rem;
    }

    .header-top{
        flex-direction: column;
        align-items: center;
    }

    .hero{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-border{
        background-size: 50%;
        text-align: center;
        background-position: center bottom calc(50% - 18rem);
    }

    .hero-action{
       padding-top: 5rem;
       padding-bottom: 49rem;
    }

    .sale-wrapper {
        display: block;
        text-align: center;
    }

    .sale-action{
        margin-right: 0;
        margin-bottom: 3.2rem;
    }

    .hero-action-text::before{
        display: none;
    }

    .sale-action-text::before{
        display: none;
    }

}

@media (max-width: 750px) {

    .header-top{
        margin-bottom: 5rem;
    }

    .hero-action{
        padding-top: 5rem;
        padding-bottom: 38rem;
     }

     .features{
        margin-bottom: 13rem;
    }

    .features-list{
        display: block;
    }

    .features-item{
        width: 100%;
    }

    .features-text{
        margin-bottom: 3.2rem;
    }
    
}

@media (max-width: 540px) {
    .hero-action{
        padding-top: 1rem;
        padding-bottom: 30rem;
     }

     .hero-action-text{
        margin-bottom: 6rem;
     }

     .site-logo{
         text-align: center;
     }

    .header-top-action{
        display: block;
        text-align: center;
    }

    .navbar-list{
        margin-bottom: 2rem;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    .input{
        text-align: center;
    }

    .features{
        margin-bottom: 10rem;
    }

    .sale-img{
        width: 26rem;
        height: 39rem;
    }

    .sale-action-title{
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .control{
        background-attachment: fixed;
        background-position: left top;
        height: 75rem;
    }

    .control-title{
        font-size: 4rem;
    }

    .control-text{
        margin-right: 0;
    }

    .control-text::before{
        display: none;
    }
}